@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:1,400;1,700;1,900&display=swap');
 
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;  
}
footer, footer *{
    font-family: "Lato", sans-serif; 
}
.shadow_card{
    box-shadow: 0px 18px 88px -4px #6767671A, 0px 8px 28px -6px #6767671A;
    
}
.shadow_contact{
    box-shadow: 0px 10px 29px 0px #130E4F0D;
    
}
.shadow_skills{
    box-shadow: 0px 4px 14px 0px #00000040;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1230px;
}
